<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @attraction.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @attraction.description %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @attraction.rating %>
</p>

<p>
  <strong>Entry fee:</strong>
  <%= @attraction.entry_fee %>
</p>

<p>
  <strong>Web:</strong>
  <%= @attraction.web %>
</p>

<%= link_to 'Edit', edit_attraction_path(@attraction) %> |
<%= link_to 'Back', attractions_path %>
